.cell {
    width: 67px;
    height: 67px;
    border: 1px solid grey;
    font-size: 48px;
    color: white;
    transition: all 0.5s ease;
    background-color: #3a3a3c;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.status {
    transform: rotateX(360deg);
}

.correct {
    background-color: #6aaa64;
}

.wrong {
    background-color: #3a3a3c;
}

.present {
    background-color: #c9b458;
}